<!DOCTYPE html>
<html class="load-full-screen">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="LimpidThemes">
	
	<title>Cruise - Responsive Travel Agency Template</title>
	
    <!-- STYLES -->
	<link href="/static/home/assets/css/animate.min.css" rel="stylesheet">
	<link href="/static/home/assets/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/static/home/assets/css/owl.carousel.css" rel="stylesheet">
	<link href="/static/home/assets/css/owl-carousel-theme.css" rel="stylesheet">
    <link href="/static/home/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/home/assets/css/flexslider.css" rel="stylesheet" media="screen">
	<link href="/static/home/assets/css/style.css" rel="stylesheet" media="screen">
	<!-- LIGHT -->
	<link rel="stylesheet" type="text/css" href="/static/home/assets/css/dummy.css" id="select-style">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


	<link href="/static/home/assets/css/light.css" rel="stylesheet" media="screen">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>

</head>
<body class="load-full-screen">

<!-- BEGIN: PRELOADER -->
<div id="loader" class="load-full-screen">
	<div class="loading-animation">
		<span><i class="fa fa-plane"></i></span>
		<span><i class="fa fa-bed"></i></span>
		<span><i class="fa fa-ship"></i></span>
		<span><i class="fa fa-suitcase"></i></span>
	</div>
</div>
<!-- END: PRELOADER -->

<!-- BEGIN: SITE-WRAPPER -->
<div class="site-wrapper">
	
<!-- BEGIN: NAV SECTION -->
<section>
	<div class="row transparent-menu-top">
		<div class="container clear-padding">
			<div class="navbar-contact">
				<div class="col-md-7 col-sm-6 clear-padding">
					<a href="#" class="transition-effect"><i class="fa fa-phone"></i> (+91) 1234567890</a>
					<a href="#" class="transition-effect"><i class="fa fa-envelope-o"></i> support@email.com</a>
				</div>
				<div class="col-md-5 col-sm-6 clear-padding search-box">
					<div class="col-md-6 col-xs-5 clear-padding">
					</div>
					<div class="col-md-6 col-xs-7 clear-padding user-logged">
						<a href="#" class="transition-effect">
							<img src="/static/home/assets/images/user.jpg" alt="cruise">
							Hi, Lenore
						</a>
						<a href="#" class="transition-effect">
							<i class="fa fa-sign-out"></i>Sign Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row transparent-menu">
		<div class="container clear-padding">
			<!-- BEGIN: HEADER -->
			<div class="navbar-wrapper">
				<div class="navbar navbar-default" role="navigation">
					<!-- BEGIN: NAV-CONTAINER -->
					<div class="nav-container">
						<div class="navbar-header">
							<!-- BEGIN: TOGGLE BUTTON (RESPONSIVE)-->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>						
							<!-- BEGIN: LOGO -->
							<a class="navbar-brand logo" href="/home">BLABLACAR</a>
						</div>
						
						<!-- BEGIN: NAVIGATION -->       
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a class="transition-effect" href="#">Trang Chủ</a></li>
								<li><a class="transition-effect" href="#"></i>Giới Thiệu</a></li>
								<li><a class="transition-effect" href="#"></i>Tìm xe</a></li>
								<li><a class="transition-effect" href="#"></i>Liên hệ</a></li>
								<li><a class="transition-effect" href="#"></i>Đăng ký</a></li>
							</ul>
						</div>
						<!-- END: NAVIGATION -->
					</div>
					<!--END: NAV-CONTAINER -->
				</div>
			</div>
			<!-- END: HEADER -->
		</div>
	</div>
</section>
<!-- END: NAV SECTION -->
	<!-- START: PAGE TITLE -->
	<div class="row page-title">
		<div class="container clear-padding text-center flight-title">
			<h3>Your Selection</h3>
			<h4><i class="fa fa-plane"></i>NEW DELHI<i class="fa fa-long-arrow-right"></i>NEW YORK</h4>
			<span><i class="fa fa-calendar"></i> 05 Aug <i class="fa fa-male"></i>Traveller(s) - 2 Adult</span>
		</div>
	</div>
	<!-- END: PAGE TITLE -->
	
	<!-- START: BOOKING TAB -->
	<div class="row booking-tab">
		<div class="container clear-padding">
			<ul class="nav nav-tabs">
				<li class="active col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-edit"></i><span>Kiểm tra giỏ hàng</span></a></li>
				<li class="col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-male"></i><span>Điền thông tin</span></a></li>
				<li class="col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-check-square"></i> <span>Thanh toán</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row booking-detail">
		<div class="container clear-padding">
			<div class="">
				<div class="">
					<div class="col-md-8 col-sm-8">
						<div class="flight-list-v2" style="margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:10px;">
							<div class="flight-list-main" style="padding-top:20px;">
								<h2 class="text-center" style="padding-bottom:10px;">XE ĐI KÉ</h2>	
								<div class="col-md-4 col-sm-4 departure">
									<h3><i class="fa fa-taxi"></i> QUẢNG NGÃI</h3>
									<h4> 19h 00m</h4>
									<h5>Huyện Tư Nghĩa, Thành Phố Quảng Ngãi, Tỉnh Quảng Ngãi</h5>
								</div>
								<div class="col-md-4 col-sm-4 stop-duration">
									<div class="flight-direction">
									</div>
									<div class="stop">
									</div>
									<div class="duration text-center">
										<span><i class="fa fa-clock-o"></i> 02h 00m</span>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 destination">
									<h3><i class="fa fa-taxi"></i> ĐÀ NẴNG</h3>
									<h4> 21h 00m</h4>
									<h5>Đưa đón tận nơi tại TP Đà Nẵng</h5>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="flight-list-footer">
								<table class="table text-center">
								    <thead>
								      <tr>
								      	<th class="text-center xs-invisible sm-invisible">Sản phẩm</th>
								        <th class="text-center">Giá tiền</th>
								        <th class="text-center">Số lượng</th>
								      </tr>
								    </thead>
								    <tbody>
								      	<tr>
									      	<td class="xs-invisible sm-invisible">Đặt chỗ xe ké</td>
									        <td class="col-xs-5 col-md-3">200,000Vnđ</td>
									        <td class="col-xs-7 col-md-4">
									        	<div class="row">
											        <div>
											            <div class="input-group">
											                <span class="input-group-btn">
											              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]" style="padding-left:0px;padding-right:0px;">
											                  	<span class="glyphicon glyphicon-minus"></span>
											                </button>
											                </span>
											                <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="4">
											                <span class="input-group-btn">
											              	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" style="padding-left:0px;padding-right:0px;">
											                  <span class="glyphicon glyphicon-plus"></span>
											                </button>
											                </span>
											            </div>
											        </div>
									    		</div>
											</td>
						      			</tr>
						    		</tbody>
						  		</table>
							</div>
						</div>
						<div class="flight-list-v2" style="margin-top:0px;margin-right:0px;margin-left:0px;">
							<div class="flight-list-main" style="padding-top:20px;">
								<h2 class="text-center" style="padding-bottom:10px;">XE QUAY ĐẦU GIÁ RẺ</h2>	
								<div class="col-md-4 col-sm-4 departure">
									<h3><i class="fa fa-taxi"></i> QUẢNG NGÃI</h3>
									<h4> 19h 00m</h4>
									<h5>Huyện Tư Nghĩa, Thành Phố Quảng Ngãi, Tỉnh Quảng Ngãi</h5>
								</div>
								<div class="col-md-4 col-sm-4 stop-duration">
									<div class="flight-direction">
									</div>
									<div class="stop">
									</div>
									<div class="duration text-center">
										<span><i class="fa fa-clock-o"></i> 02h 00m</span>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 destination">
									<h3><i class="fa fa-taxi"></i> ĐÀ NẴNG</h3>
									<h4> 21h 00m</h4>
									<h5>Đưa đón tận nơi tại TP Đà Nẵng</h5>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="flight-list-footer">
								<table class="table text-center">
								    <thead>
								      <tr>
								      	<th class="text-center xs-invisible sm-invisible">Sản phẩm</th>
								        <th class="text-center">Giá tiền</th>
								        <th class="text-center">Số lượng</th>
								      </tr>
								    </thead>
								    <tbody>
								      	<tr>
									      	<td class="xs-invisible sm-invisible">Thuê xe quay đầu</td>
									        <td class="col-xs-5 col-md-3">800,000Vnđ</td>
									        <td class="col-xs-7 col-md-4">
									        	<div class="row">
											        <div>
											            <div class="input-group">
											                <span class="input-group-btn">
											              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]" style="padding-left:0px;padding-right:0px;">
											                  	<span class="glyphicon glyphicon-minus"></span>
											                </button>
											                </span>
											                <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="4">
											                <span class="input-group-btn">
											              	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" style="padding-left:0px;padding-right:0px;">
											                  <span class="glyphicon glyphicon-plus"></span>
											                </button>
											                </span>
											            </div>
											        </div>
									    		</div>
											</td>
						      			</tr>
						    		</tbody>
						  		</table>
							</div>
						</div>
						<div class="reserve-car text-center" style="margin-top:10px;margin-bottom:30px;">
							<a href="#" style="margin-top:10px;">Cập nhật giỏ hàng</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 booking-sidebar">
						<div class="sidebar-item">
							<h4><i class="fa fa-bookmark"></i>Cần thanh toán</h4>
							<div class="sidebar-body">
								<table class="table">
									<tr>
										<td>1 Chỗ Xe ké</td>
										<td>200,000 Vnđ</td>
									</tr>
									<tr>
										<td>1 Xe quay đầu</td>
										<td>800,000 Vnđ</td>
									</tr>
									<tr>
										<td>TVA</td>
										<td>100,000 Vnđ</td>
									</tr>
									<tr>
										<td>Tổng cộng</td>
										<td class="total">1100,000 Vnđ</td>
									</tr>
								</table>
								<div class="col-md-12 col-sm-12 text-center">
									<div class="social-media-login">
										<a href="{% url 'home:step2' id %}"><i class="fa fa-plus"></i>Thanh Toán</a>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar-item contact-box">
							<h4><i class="fa fa-phone"></i>Trợ giúp qua hotline</h4>
							<div class="sidebar-body text-center">
								<p>Cần trợ giúp? Xin vui lòng liên hệ ngay các hotline dưới đây. Đây là các hotline miễn phí cuộc gọi đến</p>
								<h2>+91 1234567890</h2>
							</div>
						</div>
						<div class="sidebar-item contact-box">
							<h4><i class="fas fa-share-alt"></i>Trợ giúp qua ứng dụng</h4>
							<div class="sidebar-body text-center">
								<p>Cần trợ giúp? Xin vui lòng liên hệ ngay các hotline dưới đây. Đây là các hotline miễn phí cuộc gọi đến</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- START: FOOTER -->
<section id="footer">
	<footer>
		<div class="row main-footer-sub">
			<div class="container clear-padding">
				<div class="col-md-7 col-sm-7">
					<form >
						<label>SUBSCRIBE TO OUR NEWSLETTER</label>
						<div class="clearfix"></div>
						<div class="col-md-9 col-sm-8 col-xs-6 clear-padding">
							<input class="form-control" type="email" required placeholder="Enter Your Email" name="email">
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 clear-padding">
							<button type="submit"><i class="fa fa-paper-plane"></i>SUBSCRIBE</button>
						</div>
					</form>
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="social-media pull-right">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-footer row">
			<div class="container clear-padding">
				<div class="col-md-3 col-sm-6 about-box">
					<h3>CRUISE</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					<a href="#">READ MORE</a>
				</div>
				<div class="col-md-3 col-sm-6 links">
					<h4>Popular Tours</h4>
					<ul>
						<li><a href="#">Romantic France</a></li>
						<li><a href="#">Wonderful Lodnon</a></li>
						<li><a href="#">Awesome Amsterdam</a></li>
						<li><a href="#">Wild Africa</a></li>
						<li><a href="#">Beach Goa</a></li>
						<li><a href="#">Casino Los Vages</a></li>
						<li><a href="#">Romantic France</a></li>
					</ul>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Domestic Flights</a></li>
						<li><a href="#">International Flights</a></li>
						<li><a href="#">Tours & Holidays</a></li>
						<li><a href="#">Domestic Hotels</a></li>
						<li><a href="#">International Hotels</a></li>
						<li><a href="#">Cruise Holidays</a></li>
						<li><a href="#">Car Rental</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 contact-box">
					<h4>Contact Us</h4>
					<p><i class="fa fa-home"></i> Street #156 Burbank, Studio City Hollywood, California USA</p>
					<p><i class="fa fa-phone"></i> +91 1234567890</p>
					<p><i class="fa fa-envelope-o"></i> support@domain.com</p>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12 text-center we-accept">
					<h4>We Accept</h4>
					<ul>
						<li><img src="/static/home/assets/images/card/mastercard.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/visa.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/american-express.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/mastercard.png" alt="cruise"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-footer-nav row">
			<div class="container clear-padding">
				<div class="col-md-6 col-sm-6">
					<p>Copyright &copy; 2015 LimpidThemes. All Rights Reserved.</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<ul>
						<li><a href="#">FLIGHTS</a></li>
						<li><a href="#">TOURS</a></li>
						<li><a href="#">CARS</a></li>
						<li><a href="#">HOTELS</a></li>
						<li><a href="#">BLOG</a></li>
					</ul>
				</div>
				<div class="go-up">
					<a href="#"><i class="fa fa-arrow-up"></i></a>
				</div>
			</div>
		</div>
	</footer>
</section>
<!-- END: FOOTER -->

</div>
<!-- END: SITE-WRAPPER -->

<!-- Load Scripts -->
<script src="/static/home/assets/js/respond.js"></script>
<script src="/static/home/assets/js/jquery.js"></script>
<script src="/static/home/assets/plugins/owl.carousel.min.js"></script>
<script src="/static/home/assets/js/bootstrap.min.js"></script>
<script src="/static/home/assets/js/jquery-ui.min.js"></script>
<script src="/static/home/assets/js/bootstrap-select.min.js"></script>
<script src="/static/home/assets/plugins/wow.min.js"></script>
<script src="/static/home/assets/js/js.js"></script>
<script>

$('.btn-number').click(function(e){
    e.preventDefault();
    
    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {
            
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            } 
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {
    
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
    
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    
    
});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
</body>
</html>