<!DOCTYPE html>
<html class="load-full-screen">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="LimpidThemes">
	
	<title>Cruise - Responsive Travel Agency Template</title>
	
    <!-- STYLES -->
	<link href="/static/home/assets/css/animate.min.css" rel="stylesheet">
	<link href="/static/home/assets/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/static/home/assets/css/owl.carousel.css" rel="stylesheet">
	<link href="/static/home/assets/css/owl-carousel-theme.css" rel="stylesheet">
    <link href="/static/home/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/home/assets/css/flexslider.css" rel="stylesheet" media="screen">
	<link href="/static/home/assets/css/style.css" rel="stylesheet" media="screen">
	<!-- LIGHT -->
	<link rel="stylesheet" type="text/css" href="/static/home/assets/css/dummy.css" id="select-style">
	<!-- <link href="/static/home/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	
	<link href="/static/home/assets/css/light.css" rel="stylesheet" media="screen">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>

</head>
<body class="load-full-screen">

<!-- BEGIN: PRELOADER -->
<div id="loader" class="load-full-screen">
	<div class="loading-animation">
		<span><i class="fa fa-plane"></i></span>
		<span><i class="fa fa-bed"></i></span>
		<span><i class="fa fa-ship"></i></span>
		<span><i class="fa fa-suitcase"></i></span>
	</div>
</div>
<!-- END: PRELOADER -->

<!-- BEGIN: SITE-WRAPPER -->
<div class="site-wrapper">
	
<!-- BEGIN: NAV SECTION -->
<section>
	<div class="row transparent-menu-top">
		<div class="container clear-padding">
			<div class="navbar-contact">
				<div class="col-md-7 col-sm-6 clear-padding">
					<a href="#" class="transition-effect"><i class="fa fa-phone"></i> (+91) 1234567890</a>
					<a href="#" class="transition-effect"><i class="fa fa-envelope-o"></i> support@email.com</a>
				</div>
				<div class="col-md-5 col-sm-6 clear-padding search-box">
					<div class="col-md-6 col-xs-5 clear-padding">
					</div>
					<div class="col-md-6 col-xs-7 clear-padding user-logged">
						<a href="#" class="transition-effect">
							<img src="/static/home/assets/images/user.jpg" alt="cruise">
							Hi, Lenore
						</a>
						<a href="#" class="transition-effect">
							<i class="fa fa-sign-out"></i>Sign Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row transparent-menu">
		<div class="container clear-padding">
			<!-- BEGIN: HEADER -->
			<div class="navbar-wrapper">
				<div class="navbar navbar-default" role="navigation">
					<!-- BEGIN: NAV-CONTAINER -->
					<div class="nav-container">
						<div class="navbar-header">
							<!-- BEGIN: TOGGLE BUTTON (RESPONSIVE)-->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>						
							<!-- BEGIN: LOGO -->
							<a class="navbar-brand logo" href="/home">BLABLACAR</a>
						</div>
						
						<!-- BEGIN: NAVIGATION -->       
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a class="transition-effect" href="#">Trang Chủ</a></li>
								<li><a class="transition-effect" href="#"></i>Giới Thiệu</a></li>
								<li><a class="transition-effect" href="#"></i>Tìm xe</a></li>
								<li><a class="transition-effect" href="#"></i>Liên hệ</a></li>
								<li><a class="transition-effect" href="#"></i>Đăng ký</a></li>
							</ul>
						</div>
						<!-- END: NAVIGATION -->
					</div>
					<!--END: NAV-CONTAINER -->
				</div>
			</div>
			<!-- END: HEADER -->
		</div>
	</div>
</section>
<!-- END: NAV SECTION -->
	<!-- START: PAGE TITLE -->
	<div class="row page-title">
		<div class="container clear-padding text-center flight-title">
			<h3>Your Selection</h3>
			<h4><i class="fa fa-plane"></i>NEW DELHI<i class="fa fa-long-arrow-right"></i>NEW YORK</h4>
			<span><i class="fa fa-calendar"></i> 05 Aug <i class="fa fa-male"></i>Traveller(s) - 2 Adult</span>
		</div>
	</div>
	<!-- END: PAGE TITLE -->
	
	<!-- START: BOOKING TAB -->
	<div class="row booking-tab">
		<div class="container clear-padding">
			<ul class="nav nav-tabs">
				<li class="active col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-edit"></i><span>Kiểm tra giỏ hàng</span></a></li>
				<li class="active col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-male"></i><span>Điền thông tin</span></a></li>
				<li class="active col-md-4 col-sm-4 col-xs-4"><a class="text-center"><i class="fa fa-check-square"></i> <span>Thanh toán</span></a></li>
			</ul>
		</div>
	</div>
	<div class="row booking-detail">
		<div class="container clear-padding">
			<div class="">
				<div class="">
					<div class="col-md-8 col-sm-8">
						<div class="passenger-detail">
							<h3>Total Payment to be made $499</h3>
							<div class="passenger-detail-body">
								<div class="saved-card">
									<form >
										<label data-toggle="collapse" data-target="#saved-card-1"><input type="radio" name="card"> <span>Bank of America 1234 XXXX XXXX 1290</span></label>
										<div id="saved-card-1" class="collapse">
											<div class="col-md-4 col-sm-4">
												<label>CVV</label>
												<input type="password" required class="form-control">
											</div>
										</div>
										<div class="clearfix"></div>
										<label data-toggle="collapse" data-target="#saved-card-2"><input type="radio" name="card"> <span>State Bank of India 1234 XXXX XXXX 1290</span></label>
										<div id="saved-card-2" class="collapse">
											<div class="col-md-4 col-sm-4">
												<label>CVV</label>
												<input type="password" required class="form-control">
											</div>
										</div>
										<div class="clearfix"></div>
										<div>
											<button type="submit">CONFIRM BOOKING <i class="fa fa-chevron-right"></i></button>
										</div>
									</form>
								</div>	
								<div class="payment-seperator clearfix"></div>
								<div class="add-new-card">
									<h4>Add New Card</h4>
									<form >
										<div class="col-md-6 ol-sm-6">
											<label>Card Type</label>
											<select name="carttype" class="form-control">
												<option>Credit Card</option>
												<option>Debit Card</option>
												<option>Gift Card</option>
											</select>
										</div>
										<div class="col-md-6 ol-sm-6">
											<label>Card Number</label>
											<input type="text" name="cardnumber" required class="form-control">
										</div>
										<div class="col-md-6 ol-sm-6">
											<label>Card Expiry</label>
											<select name="cardexpiry" class="form-control">
												<option>Select</option>
												<option>Dec 2015</option>
												<option>Jan 2016</option>
												<option>Feb 2016</option>
												<option>Mar 2016</option>
												<option>Apr 2016</option>
											</select>
										</div>
										<div class="col-md-6 ol-sm-6">
											<label>CVV Number</label>
											<input type="password" name="cvvnumber" class="form-control">
										</div>
										<div class="col-md-12">
											<label><input type="checkbox" name="alert"> Save this card for future</label>
										</div>
										<div>
											<button type="submit">CONFIRM BOOKING <i class="fa fa-chevron-right"></i></button>
										</div>
									</form>
								</div>
								<div class="payment-seperator clearfix"></div>
								<div class="paypal-pay">
									<h4>Pay Using Paypal</h4>
									<div class="col-md-2 col-sm-2 col-xs-4">
										<i class="fa fa-paypal"></i>
									</div>
									<div class="col-md-10 col-sm-10 col-xs-8">
										<a href="#">CONFIRM BOOKING</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 booking-sidebar">
						<div class="sidebar-item">
							<h4><i class="fa fa-bookmark"></i>Fare Details</h4>
							<div class="sidebar-body">
								<table class="table">
									<tr>
										<td>Adult 1</td>
										<td>$199</td>
									</tr>
									<tr>
										<td>Base Fare</td>
										<td>$100</td>
									</tr>
									<tr>
										<td>Service Fee</td>
										<td>$50</td>
									</tr>
									<tr>
										<td>Airport Taxes</td>
										<td>$20</td>
									</tr>
									<tr>
										<td>You Pay</td>
										<td class="total">$500</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="sidebar-item contact-box">
							<h4><i class="fa fa-phone"></i>Need Help?</h4>
							<div class="sidebar-body text-center">
								<p>Need Help? Call us or drop a message. Our agents will be in touch shortly.</p>
								<h2>+91 1234567890</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- START: FOOTER -->
<section id="footer">
	<footer>
		<div class="row main-footer-sub">
			<div class="container clear-padding">
				<div class="col-md-7 col-sm-7">
					<form >
						<label>SUBSCRIBE TO OUR NEWSLETTER</label>
						<div class="clearfix"></div>
						<div class="col-md-9 col-sm-8 col-xs-6 clear-padding">
							<input class="form-control" type="email" required placeholder="Enter Your Email" name="email">
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 clear-padding">
							<button type="submit"><i class="fa fa-paper-plane"></i>SUBSCRIBE</button>
						</div>
					</form>
				</div>
				<div class="col-md-5 col-sm-5">
					<div class="social-media pull-right">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-footer row">
			<div class="container clear-padding">
				<div class="col-md-3 col-sm-6 about-box">
					<h3>CRUISE</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					<a href="#">READ MORE</a>
				</div>
				<div class="col-md-3 col-sm-6 links">
					<h4>Popular Tours</h4>
					<ul>
						<li><a href="#">Romantic France</a></li>
						<li><a href="#">Wonderful Lodnon</a></li>
						<li><a href="#">Awesome Amsterdam</a></li>
						<li><a href="#">Wild Africa</a></li>
						<li><a href="#">Beach Goa</a></li>
						<li><a href="#">Casino Los Vages</a></li>
						<li><a href="#">Romantic France</a></li>
					</ul>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Domestic Flights</a></li>
						<li><a href="#">International Flights</a></li>
						<li><a href="#">Tours & Holidays</a></li>
						<li><a href="#">Domestic Hotels</a></li>
						<li><a href="#">International Hotels</a></li>
						<li><a href="#">Cruise Holidays</a></li>
						<li><a href="#">Car Rental</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 contact-box">
					<h4>Contact Us</h4>
					<p><i class="fa fa-home"></i> Street #156 Burbank, Studio City Hollywood, California USA</p>
					<p><i class="fa fa-phone"></i> +91 1234567890</p>
					<p><i class="fa fa-envelope-o"></i> support@domain.com</p>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12 text-center we-accept">
					<h4>We Accept</h4>
					<ul>
						<li><img src="/static/home/assets/images/card/mastercard.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/visa.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/american-express.png" alt="cruise"></li>
						<li><img src="/static/home/assets/images/card/mastercard.png" alt="cruise"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-footer-nav row">
			<div class="container clear-padding">
				<div class="col-md-6 col-sm-6">
					<p>Copyright &copy; 2015 LimpidThemes. All Rights Reserved.</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<ul>
						<li><a href="#">FLIGHTS</a></li>
						<li><a href="#">TOURS</a></li>
						<li><a href="#">CARS</a></li>
						<li><a href="#">HOTELS</a></li>
						<li><a href="#">BLOG</a></li>
					</ul>
				</div>
				<div class="go-up">
					<a href="#"><i class="fa fa-arrow-up"></i></a>
				</div>
			</div>
		</div>
	</footer>
</section>
<!-- END: FOOTER -->

</div>
<!-- END: SITE-WRAPPER -->

<!-- Load Scripts -->
<script src="/static/home/assets/js/respond.js"></script>
<script src="/static/home/assets/js/jquery.js"></script>
<script src="/static/home/assets/plugins/owl.carousel.min.js"></script>
<script src="/static/home/assets/js/bootstrap.min.js"></script>
<script src="/static/home/assets/js/jquery-ui.min.js"></script>
<script src="/static/home/assets/js/bootstrap-select.min.js"></script>
<script src="/static/home/assets/plugins/wow.min.js"></script>
<script src="/static/home/assets/js/js.js"></script>
</body>
</html>